<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<h3>
  <% if !@task.completed %>
  This task is not yet completed
  <% else %>
  This task is completed
  <% end %>
</h3>

<%= link_to 'Edit this task', edit_task_path %>
<%= link_to 'Back to task list', tasks_path %>
